<!DOCTYPE html>
<html>

<head>
    <title>Confirm Deletion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
    <div class="container">
        <h1>Confirm Deletion</h1>
        <p>Are you sure you want to delete the following Course?</p>
        <p>Name: "{{ course.title }}"</p>
        <p>Description: "{{ course.Description.discript }}"</p>

        <form action="{% url 'delete_course' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="cid" value="{{ course.id }}">
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>